.pytest_cache
data_setup/__pycache__
data_setup/document_loader/__pycache__
test/__pycache__
test/.pytest_cache
.env
.vscode
data_setup/embedding_generator/__pycache__
data_setup/storage_manager/__pycache__
data_setup/text_preprocessor/__pycache__
test/__pycache__
test/.pytest_cache
data_setup/embedding_generator/__pycache__/basic_embedder.cpython-313.pyc
embedding_map.json
faiss_index.bin